##########################################
# StyleCop
##########################################

[*]
# SA0001: XML comment analysis is disabled due to project configuration
# Justification: Comments turned off
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA0001.md
dotnet_diagnostic.SA0001.severity = none

[*.cs]
# SA1600: A C# code element is missing a documentation header.
# Justification: Comments turned off
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1600.md
dotnet_diagnostic.SA1600.severity = none

# SA1601: A C# partial element is missing a documentation header.
# Justification: Comments turned off
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1601.md
dotnet_diagnostic.SA1601.severity = none

# SA1602: An item within a C# enumeration is missing an XML documentation header.
# Justification: Comments turned off
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1602.md
dotnet_diagnostic.SA1602.severity = none

##########################################
# Custom
##########################################

[*.cs]
# CA1062: Validate arguments of public methods
# Justification: xUnit Theory method parameters don't need to be validated
# https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1062
dotnet_diagnostic.CA1062.severity = none

# CA1707: Identifiers should not contain underscores
# Justification: Test method names contain underscores
# https://docs.microsoft.com/en-us/visualstudio/code-quality/ca1707
dotnet_diagnostic.CA1707.severity = none

# VSTHRD200: Use "Async" suffix in names of methods that return an awaitable type
# Justification: Test method names don't need to end with "Async"
# https://github.com/microsoft/vs-threading/blob/main/doc/analyzers/VSTHRD111.md
dotnet_diagnostic.VSTHRD200.severity = none

# MSTEST0004: Public types should be test classes
# dotnet_diagnostic.MSTEST0004.severity = warning

# MSTEST0006: Avoid '[ExpectedException]'
dotnet_diagnostic.MSTEST0006.severity = warning

# MSTEST0007: Use test attributes only on test methods
dotnet_diagnostic.MSTEST0007.severity = warning

# MSTEST0016: Test class should have test method
dotnet_diagnostic.MSTEST0016.severity = warning

# MSTEST0017: Assertion arguments should be passed in the correct order
dotnet_diagnostic.MSTEST0017.severity = warning

# MSTEST0023: Do not negate boolean assertions
dotnet_diagnostic.MSTEST0023.severity = warning

# MSTEST0025: Use 'Assert.Fail' instead of an always-failing assert
dotnet_diagnostic.MSTEST0025.severity = warning

# MSTEST0026: Avoid conditional access in assertions
dotnet_diagnostic.MSTEST0026.severity = suggestion

# MSTEST0029: Public method should be test method
dotnet_diagnostic.MSTEST0029.severity = warning

# MSTEST0030: Type containing [TestMethod] should be marked with [TestClass]
dotnet_diagnostic.MSTEST0030.severity = warning

# MSTEST0031: System.ComponentModel.DescriptionAttribute has no effect on test methods
dotnet_diagnostic.MSTEST0031.severity = warning

# MSTEST0032: Review or remove the assertion as its condition is known to be always true
dotnet_diagnostic.MSTEST0032.severity = warning

# MSTEST0037: Use proper 'Assert' methods
dotnet_diagnostic.MSTEST0037.severity = warning

# MSTEST0039: Use newer 'Assert.Throws' methods
dotnet_diagnostic.MSTEST0039.severity = warning
