<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Local Package source" value="C:\repos\github\sbom-tool_fork\src\Microsoft.Sbom.Api\DPPSDKNugets" />
  </packageSources>
</configuration>
