<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="SBOMToolsPublic" value="https://pkgs.dev.azure.com/mseng/PipelineTools/_packaging/SBOMToolsPublic/nuget/v3/index.json" />
    <add key="ComponentDetection" value="https://1essharedassets.pkgs.visualstudio.com/1esPkgs/_packaging/ComponentDetection%40Local/nuget/v3/index.json" />
  </packageSources>
</configuration>