name: Build

on:
  push:
    branches:
      - main
      - 'feature/**'
  pull_request:
    branches:
      - main
      - 'feature/**'

permissions:
  contents: read

jobs:
  build:
    name: build-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest

    env:
        OFFICIAL_BUILD: 'True'
        # Set the build number in MinVer.
        MINVERBUILDMETADATA: build.${{github.run_number}}

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@6bd8b7f7774af54e05809fcc5431931b3eb1ddee # v4.0.1
        with:
          dotnet-version: |
            6.0.x
            8.0.x

      - name: Run tests
        run: dotnet test --collect:"XPlat Code Coverage" -v Detailed

      - name: Upload code coverage
        uses: codecov/codecov-action@e28ff129e5465c2c0dcc6f003fc735cb6ae0c673  # v4.5.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
