name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    name: build-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest
          - macos-latest-large

    env:
        OFFICIAL_BUILD: 'True'
        # Set the build number in MinVer.
        MINVERBUILDMETADATA: build.${{github.run_number}}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@3e891b0cb619bf60e2c25674b222b8940e2c1c25 # v4.1.0
        with:
          dotnet-version: |
            8.0.x

      - name: Run tests
        run: dotnet test --collect:"XPlat Code Coverage"

      - name: Upload code coverage
        uses: codecov/codecov-action@985343d70564a82044c1b7fcb84c2fa05405c1a2  # v5.0.4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
