name: Release

on:
  release:
    types:
      - published

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest

    env:
      OFFICIAL_BUILD: 'True'
      # Set the build number in MinVer.
      MINVERBUILDMETADATA: build.${{github.run_number}}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          
      # - uses: ./.github/workflows/setup-dotnet.yml
      #   with:
      #     platform_name: ${{ env.RUNNER_OS }}
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 3.1.300

      - name: Restore dependencies
        run: dotnet restore 
        
      - name: Build
        run: dotnet build --no-restore --configuration Release 

      - name: Build NuGet packages
        run: dotnet pack --no-restore --configuration Release --output ./out

      - name: Publish NuGet packages to GitHub Packages
        run: dotnet nuget push "./out/*.nupkg" --skip-duplicate --api-key ${{ secrets.GITHUB_TOKEN }} --source https://nuget.pkg.github.com/${{ github.repository }}
